<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Debug-only activities -->
	<application>
		<activity
			android:name="com.professor.zerion.android.test.TestDataActivity"
			android:exported="false"
			android:label="Create test data"
			android:parentActivityName="com.professor.zerion.android.settings.SettingsActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.professor.zerion.android.settings.SettingsActivity" />
		</activity>
	</application>

</manifest>
